@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: "Suisse";
    font-weight: normal;
}

@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff);
    font-family: "Suisse";
    font-weight: bold;
}

html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #323131;
    color: white;
    position: relative;
    max-width: 540px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "Suisse";
    box-sizing: border-box;
    padding: 36px;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.button {
    width: 130px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.button:hover {
    opacity: 0.5;
}

.image {
    width: 80%;
    display: block;
    margin: 60px auto 50px;
}

.advice {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 70px;
}

.footer {
    font-size: 16px;
    margin: 0;
    position: absolute;
    bottom: 36px;
}
